
<div class="Header">
    <!-- <span><img src="" alt=""> </span> -->
    <span> Shopping Cart</span>

    <nav>
        <img src="https://www.codester.com/static/uploads/items/000/018/18541/preview-xl.jpg" alt="logo"/>
    </nav>
</div>

<div>
    


</div>

<!-- <div class="Footer">
    

    <label>
        <input type="radio" name="credit card/debitcard"/>credit card/debitcard
    </label>
    <br/>
    <label>
        <input type="radio" name="credit card/debitcard"/>credit card/debitcard
    </label>
    <br/>
    <label>
        <input type="radio" name="credit card/debitcard"/>credit card/debitcard
    </label>
    <br/>

    <span> &copy;Cart Sumaary</span>
</div> -->
