.Header{
    position: fixed;
    top:0%;
    background-color: blue;
    padding: 10px;
    width: 92%;
    color: white;
    height: 90px;
    margin-left: 4rem;
}

img{
    height: 50px;
    width: 102px;
}

.Footer{
    position: fixed;
    bottom: 0%;
    background-color: blueviolet;
    text-align: center;
    padding: 10px;
    width: 100%;
    color: aliceblue;
}